[data-md-color-scheme="gel"] {
  --md-primary-fg-color:        #005eb8;
  --md-primary-fg-color--light: #e6eff8;
  --md-primary-fg-color--dark:  #90030C;
}



      :is(img, svg) {
        display: block;
        width: px2rem(24px);
        height: px2rem(24px);
        fill: currentColor;
      }


/*!* override table width restrictions *!*/
/*@media screen and (min-width: 2000px) {*/

/*   .wy-table-responsive table td {*/
/*      !* !important prevents the common CSS stylesheets from overriding*/
/*         this as on RTD they are loaded after this stylesheet *!*/
/*      white-space: normal !important;*/
/*   }*/

/*   .wy-table-responsive {*/
/*      overflow: visible !important;*/
/*   }*/
/*   .wy-nav-side {*/
/*        height: 100%;*/
/*    }*/
/*   .wy-nav-content {*/
/*    max-width: none;*/
/*    }*/
/*   .md-typeset__table {*/
/*    min-width: 100%;*/
/*    }*/
/*}*/

/*!**/
/* * Account for wide tables which go off the side.*/
/* * Override borders to avoid wierdness on narrow tables.*/
/* **/
/* * https://github.com/mkdocs/mkdocs/issues/834*/
/* * https://github.com/mkdocs/mkdocs/pull/1034*/
/* *!*/
/*.rst-content .section .docutils {*/
/*    width: 100%;*/
/*    overflow: auto;*/
/*    display: block;*/
/*    border: none;*/
/*}*/

/*td, th {*/
/*   border: 1px solid #e1e4e5 !important; !* csslint allow: important *!*/
/*   border-collapse: collapse;*/
/*}*/
/*.wy-nav-content {*/
/*    max-width: none;*/
/*    margin: auto;*/
/*}*/
/*.md-typeset__table {*/
/*   min-width: 100%;*/
/*}*/
